# asgiref==3.8.1
# Django==5.2
# django-cors-headers==4.7.0
# djangorestframework==3.16.0
# djangorestframework_simplejwt==5.5.0
# PyJWT==2.9.0
# sqlparse==0.5.3
# tzdata==2025.2

asgiref==3.8.1
Django==5.2
django-cors-headers==4.4.0
djangorestframework==3.15.1  # تحديث لأحدث إصدار
djangorestframework-simplejwt==5.5.0
PyJWT==2.9.0
sqlparse==0.5.1
typing-extensions==4.12.2
gunicorn==22.0.0  # إضافة gunicorn